---
// src/pages/[lang]/projects/[slug].astro
import Base from '../../../layouts/Base.astro';
import { getEntry } from 'astro:content';

const { lang, slug } = Astro.params;

const project = await getEntry('projects', `${lang}/${slug}`);

if (!project) {
  return Astro.redirect('/404');
}

const { data } = project;
const { Content } = await project.render();
---

<Base title={data.title} description={data.description} lang={lang} headerStyle="transparent">
  <main class="min-h-screen">
    <Content />
  </main>
</Base>
