---
// src/pages/[lang]/index.astro
import Base from '../../layouts/Base.astro';
import { getEntry } from 'astro:content';

const { lang } = Astro.params;

const page = await getEntry('pages', `${lang}/home`);

if (!page) {
  return Astro.redirect('/404');
}

const { Content } = await page.render();
---

<Base title={page.data.title} description={page.data.description} lang={lang} schema="LocalBusiness" headerStyle={page.data.headerStyle}>
  <main id="main">
    <Content />
  </main>
</Base>
